{% extends "layout.html" %}
{% block css %}
	<link href="/static/css/jquery.nouislider.min.css" rel="stylesheet">
	<style>
		.green {
			background: #27ae60;
		}
	</style>
{% endblock %}

{% block content %}
<div class="row">
<h2>Profil sonore</h2>
<table id="table" class="table">
      <thead>
	<tr>
	{% for c in values %}
	  <th>{{c.bande}}</th>
	{% endfor %}
	</tr>
      </thead>
      <tbody>
	<tr style="height:500px">
	{% for c in values %}
	  <td  style="height:500px"><div class="slider" class="green"  style="height:500px"></div></td>
	{% endfor %}
	</tr>
	<tr>
	{% for c in values %}
		<td><span class="values"></span></td>
	{% endfor %}
	</tr>
      </tbody>
</table>
</div>
<div class="row">
<center><img id="plot" src="" width="100%"></div></center>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/jquery.nouislider.min.js"></script>
<script>

var values = [{% for c in values %}{{c.value}},{% endfor %}];
var values_db = [{% for c in values %}0.,{% endfor %}];

var sliders = $('.slider');
var span_values = $('span[class="values"]');
for (i=0; i < sliders.length;i++)
{
	span_values[i].textContent = "-"+getDB(values[i]).toFixed(2)+" dB";
	$(sliders[i]).noUiSlider({
		range: {
			'min': 0,
			'max': 50
		}
		,start: getDB(values[i])
		,connect: "upper"
		,orientation: "vertical"
		,serialization: {
			format: {
				decimals: 2
			}
		}
	});
}

function setValues(){
	for (i=0; i < sliders.length;i++)
	{
		span_values[i].textContent = "-" + $(sliders[i]).val() +" dB";
		values_db[i] = -1.*$(sliders[i]).val();
	
	}
	
	var request = $.ajax({
	url: "/changeValue/",
	type: "POST",
	data: {"csrfmiddlewaretoken":"{{csrf_token}}","data":values_db},
        async: false,
        cache: false,
        timeout: 30000,
        error: function(){
            return true;
        },
        success: function(message){
		document.getElementById('plot').setAttribute( 'src', message);
		console.debug(message);
        }
	});
}

function getDB(value){
	val = -10*Math.log(value);
	return val;
}
sliders.on('slide', setValues);
</script>


{% endblock %}

