{% extends "layout.html" %}
{% block content %}
	<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron row">
	<h1>Home !</h1>
	</br>
	<div class="col-lg-8">
		<svg
		   id="mysvg"
		   height="31%"
		   viewBox="0 0 533 469">
		  <defs
		     id="defs2987">
		    <linearGradient
		       inkscape:collect="always"
		       id="linearGradient3805">
		      <stop
			 style="stop-color:#ffffff;stop-opacity:1;"
			 offset="0"
			 id="stop3807" />
		      <stop
			 style="stop-color:#ffffff;stop-opacity:0;"
			 offset="1"
			 id="stop3809" />
		    </linearGradient>
		    <linearGradient
		       inkscape:collect="always"
		       xlink:href="#linearGradient3805"
		       id="linearGradient3838"
		       gradientUnits="userSpaceOnUse"
		       gradientTransform="matrix(1.3845747,0,0,1.6825044,222.74442,-131.63194)"
		       x1="-104.02507"
		       y1="87.541779"
		       x2="-290.00928"
		       y2="137.97818" />
		    <linearGradient
		       inkscape:collect="always"
		       xlink:href="#linearGradient3805-4"
		       id="linearGradient3838-9"
		       gradientUnits="userSpaceOnUse"
		       gradientTransform="matrix(1.0004802,0,0,0.81022751,0.14683862,166.2673)"
		       x1="-104.02507"
		       y1="87.541779"
		       x2="-290.00928"
		       y2="137.97818" />
		    <linearGradient
		       inkscape:collect="always"
		       id="linearGradient3805-4">
		      <stop
			 style="stop-color:#ffffff;stop-opacity:1;"
			 offset="0"
			 id="stop3807-8" />
		      <stop
			 style="stop-color:#ffffff;stop-opacity:0;"
			 offset="1"
			 id="stop3809-8" />
		    </linearGradient>
		    <linearGradient
		       y2="137.97818"
		       x2="-290.00928"
		       y1="87.541779"
		       x1="-104.02507"
		       gradientTransform="matrix(1.3800757,0,0,1.134727,220.98659,-213.45428)"
		       gradientUnits="userSpaceOnUse"
		       id="linearGradient3855"
		       xlink:href="#linearGradient3805-4"
		       inkscape:collect="always" />
		    <linearGradient
		       y2="137.97818"
		       x2="-290.00928"
		       y1="87.541779"
		       x1="-104.02507"
		       gradientTransform="matrix(1.0004549,0,0,0.81971487,0.13909712,-41.396871)"
		       gradientUnits="userSpaceOnUse"
		       id="linearGradient3855-4"
		       xlink:href="#linearGradient3805-4-5"
		       inkscape:collect="always" />
		    <linearGradient
		       inkscape:collect="always"
		       id="linearGradient3805-4-5">
		      <stop
			 style="stop-color:#ffffff;stop-opacity:1;"
			 offset="0"
			 id="stop3807-8-5" />
		      <stop
			 style="stop-color:#ffffff;stop-opacity:0;"
			 offset="1"
			 id="stop3809-8-1" />
		    </linearGradient>
		    <linearGradient
		       y2="137.97818"
		       x2="-290.00928"
		       y1="87.541779"
		       x1="-104.02507"
		       gradientTransform="matrix(1.7709431,0,0,0.69406871,74.502225,-128.03372)"
		       gradientUnits="userSpaceOnUse"
		       id="linearGradient3889"
		       xlink:href="#linearGradient3805-4-5"
		       inkscape:collect="always" />
		    <linearGradient
		       y2="137.97818"
		       x2="-290.00928"
		       y1="87.541779"
		       x1="-104.02507"
		       gradientTransform="matrix(1.3799383,0,0,1.1406227,220.94459,-215.58548)"
		       gradientUnits="userSpaceOnUse"
		       id="linearGradient3855-9"
		       xlink:href="#linearGradient3805-4-4"
		       inkscape:collect="always" />
		    <linearGradient
		       inkscape:collect="always"
		       id="linearGradient3805-4-4">
		      <stop
			 style="stop-color:#ffffff;stop-opacity:1;"
			 offset="0"
			 id="stop3807-8-7" />
		      <stop
			 style="stop-color:#ffffff;stop-opacity:0;"
			 offset="1"
			 id="stop3809-8-3" />
		    </linearGradient>
		  </defs>
		  <sodipodi:namedview
		     id="base"
		     pagecolor="#ffffff"
		     bordercolor="#666666"
		     borderopacity="1.0"
		     inkscape:pageopacity="0.0"
		     inkscape:pageshadow="2"
		     inkscape:zoom="1.28"
		     inkscape:cx="397.11559"
		     inkscape:cy="167.04677"
		     inkscape:current-layer="layer1"
		     inkscape:document-units="px"
		     showgrid="false"
		     inkscape:window-width="1920"
		     inkscape:window-height="1021"
		     inkscape:window-x="0"
		     inkscape:window-y="27"
		     inkscape:window-maximized="1"
		     inkscape:snap-bbox="true"
		     height="744.09px"
		     fit-margin-top="0"
		     fit-margin-left="0"
		     fit-margin-right="0"
		     fit-margin-bottom="0" />
		  <metadata
		     id="metadata2990">
		    <rdf:RDF>
		      <cc:Work
			 rdf:about="">
			<dc:format>image/svg+xml</dc:format>
			<dc:type
			   rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
			<dc:title />
		      </cc:Work>
		    </rdf:RDF>
		  </metadata>
		  <g
		     id="layer1"
		     inkscape:label="Layer 1"
		     inkscape:groupmode="layer"
		     transform="translate(-83.999987,-5.9999983)">
		    <rect
		       style="fill:url(#linearGradient3838);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.00214434px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
		       id="esc2"
		       width="232.99785"
		       height="277.99786"
		       x="-317.49893"
		       y="194.50107"
		       transform="scale(-1,1)"
		       inkscape:label="#rect2995-1" />
		    <rect
		       style="fill:url(#linearGradient3855);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.99746186px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
		       id="esc4"
		       width="233.00253"
		       height="188.00253"
		       x="-317.50125"
		       y="6.4987292"
		       transform="scale(-1,1)"
		       inkscape:label="#rect2995-1-2" />
		    <rect
		       style="fill:url(#linearGradient3889);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.00609064px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
		       id="esc3"
		       width="298.9939"
		       height="114.9939"
		       x="-616.49695"
		       y="6.5030489"
		       transform="scale(-1,1)"
		       inkscape:label="#rect2995-1-2-7" />
		    <text
		       xml:space="preserve"
		       style="font-size:18.49789238px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
		       x="87.921783"
		       y="24.801558"
		       id="text3813-4-1"
		       sodipodi:linespacing="125%"><tspan
			 sodipodi:role="line"
			 id="tspan3815-0-1"
			 x="87.921783"
			 y="24.801558">Chambre enfant 2</tspan>
			<tspan x="87.921783" dy="30" id="room_bedroomchildren2">> Habitants:</tspan>
		    </text>
		    <rect
		       style="fill:#000000;fill-opacity:0;fill-rule:evenodd;stroke:#000000;stroke-width:1.00220966px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
		       id="esc4-7"
		       width="232.99779"
		       height="352.9978"
		       x="-616.4989"
		       y="121.50109"
		       transform="scale(-1,1)"
		       inkscape:label="#rect2995-1-2" />
		    <text
		       xml:space="preserve"
		       style="font-size:18.49789238px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
		       x="88.474251"
		       y="215.63974"
		       id="text3813-4-1-7"
		       sodipodi:linespacing="125%"><tspan
			 sodipodi:role="line"
			 x="88.474251"
			 y="215.63974">Cuisine</tspan>
			<tspan x="88.474251" dy="30" id="room_kitchen">> Habitants:</tspan>
		    </text>
		    <text
		       xml:space="preserve"
		       style="font-size:18.49789238px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
		       x="320.50549"
		       y="23.452244"
		       id="text3813-4-1-7-9"
		       sodipodi:linespacing="125%"><tspan
			 sodipodi:role="line"
			 x="320.50549"
			 y="23.452244"
			 id="tspan3111">Chambre enfant 1</tspan>
			<tspan x="320.50549" dy="30" id="room_bedroomchildren1">> Habitants:</tspan>
		    </text>
		    <text
		       xml:space="preserve"
		       style="font-size:18.49789238px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"
		       x="386.56799"
		       y="139.42099"
		       id="text3813-4-1-7-9-7"
		       sodipodi:linespacing="125%"><tspan
			 sodipodi:role="line"
			 x="386.56799"
			 y="139.42099"
			 id="tspan3136">Chambre parents</tspan>
			<tspan x="386.56799" dy="30" id="room_bedroomparent">> Habitants:</tspan>
		    </text>
		  </g>
		</svg>
	</div>
	<div class="col-lg-4"></div>

</div>
{% endblock content %}

{% block script %}
<script type="text/javascript">
var rooms = [{% for o in rooms %}"{{o.short_name.lower}}",{% endfor %}];

function SVG(tag)
{
   return document.createElementNS('http://www.w3.org/2000/svg', tag);
}

function setPos(room,user)
{
	for ( j = 1 ; j < rooms.length; j++) {

		if(rooms[j] == room){
			var is_present = false;
			var x = parseFloat($("#room_"+room).attr("x"))+30
			for(i = 0; i < $("#room_"+room).children().length ; i++){
				var c = $("#room_"+room).children()[i];
				console.debug(c);
				if(c.textContent.search(user) != -1){
					is_present = true;
					break;
				}
			}
			
			if(is_present == false){
				$(SVG('tspan')).attr("dy",30)
						.attr("x",x)
						.text("- " + user)
						.appendTo($("#room_"+room))
			}
		} else {
			for(i = 0; i < $("#room_"+rooms[j]).children().length ; i++){
				if($("#room_"+rooms[j]).children()[i].textContent.search(user) != -1)
					$("#room_"+rooms[j]).children()[i].remove()
			}
		}
	}
}

window.setInterval(function() {
	var request = $.ajax({
	url: "getPos",
	type: "POST",
	dataType: "json"
	});

	request.done(function( message ) {
		for(i in message.pos){
			var l = message.pos[i];
			setPos(l.room,l.user);
			console.debug(l);
		}
	});
}, 300);
</script>
{% endblock script %}

