{% extends "layout.html" %}
{% block content %}
	<!-- Main component for a primary marketing message or call to action -->


<br/>
<h4>Choix:</h4>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-default" onclick="setSelection('all');">All</button>
<button type="button" class="btn btn-success" onclick="setSelection('success');">Success</button>
<button type="button" class="btn btn-warning" onclick="setSelection('warning');">Warning</button>
<button type="button" class="btn btn-danger"  onclick="setSelection('danger');">Error</button>
<br/><br/>


	<table id="logTable" class="table table-hover">
	      <thead>
		<tr>
		  <th>Date</th>
		  <th>Message</th>
		</tr>
	      </thead>
	      <tbody>
	      </tbody>
	</table>
{% endblock content %}


{% block script %}
<script type="text/javascript">
var last_date = "";
var msg;

function setSelection(type){
	var r = $("#logTable").find('tbody')[0].children;
	console.debug(i);
	for(i in r){
		console.debug(r[i].attributes.getNamedItem("class").value);
		console.debug(i);
		current = r[i];
		if(type == r[i].attributes.getNamedItem("class").value){
			$(current).show()
			console.debug("show");
		}
		else if(type == "all")
			$(current).show()
		else
			$(current).hide()
	}
}
window.setInterval(function() {
	var request = $.ajax({
	url: "getlogs",
	type: "POST",
	data: { date : last_date},
	dataType: "json"
	});

	request.done(function( message ) {

	for(i in message.logs){
		var l = message.logs[i];
		last_date = l.date;
		var type = "success"
		if(l.type == 'E')
			type="danger";
		else if(l.type == 'W')
			type="warning";
		var date = new Date(Date.parse(l.date));
		$("#logTable").find('tbody')
		    .prepend($('<tr>').attr("class",type)
			.append($('<td>').text(date.toLocaleString()))
			.append($('<td>').text(l.value))
		);
	}
	console.debug(last_date);
	});
}, 300);
</script>
{% endblock script %}

