{% extends "layout.html" %}
{% block content %}
<h2>Droits</h2>
{% if user.is_staff %}
		<div class="btn-group">
		  <button type="button" class="btn btn-primary">User - Group</button>
		  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
		    <span class="caret"></span>
		    <span class="sr-only">User - Group</span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		  {% for g in groups %}
		    <li><a href='/rights/group/{{g.pk}}/'>group - {{g}}</a></li>
		  {% endfor %}
		  {% for u in users %}
		    <li><a href='/rights/user/{{u.pk}}/'>user - {{u}}</a></li>
		  {% endfor %}
		  </ul>
		</div>
{% endif %}

<table id="logTable" class="table table-hover">
      <thead>
	<tr>
	  <th>  </th>
	</tr>
      </thead>
      <tbody>
	{% for perm in perms %}
	<tr>
	  <th>{{perm.name}}</th>
		  <td>  <div class="checkbox"><label><input type="checkbox" codename="{{perm.codename}}"> Autoriser</label></div></td>
	  </tr>
	{% endfor %}
      </tbody>
</table>

{% endblock content %}

{% block script %}
<script type="text/javascript">
var typeId = "{{type_id}}";
var type = "{{type}}";
$("input").change(function(e){
	checkbox = $(e.currentTarget)[0];
	codename = checkbox.attributes.codename.value;
	var request = $.ajax({
	url: "/changeRight/"+codename+"/"+type+"/"+typeId+"/",
	type: "GET",
	data: {"right":checkbox.checked},
	dataType: "json"
	});
});

$( document ).ready(function() {
	var perms = $('input[type=checkbox]')
	for(i = 0 ; i < perms.length ; i++) {
		getRight(perms[i],perms[i].attributes.codename.value);
	}
});

function getRight(checkbox,codename) {
	var ret = 0;
	var request = $.ajax({
	url: "/getRight/"+codename+"/"+type+"/"+typeId+"/",
	type: "POST",
	data: {"csrfmiddlewaretoken":"{{csrf_token}}"},
	dataType: "json"
	});
	request.done(function( message ) {
		console.debug(message)
		console.debug(codename)
		checkbox.checked = message["resp"]
		if(type == "user")
			$(checkbox).prop('disabled', !message["can_changed"])
	})
}

/*var userId = {{user.id}}
function changeRight() {
	var request = $.ajax({
	url: "changeRight/"+,
	type: "GET",
	dataType: "json"
	});
}*/

</script>
{% endblock script %}

