{% extends "layout.html" %}
{% block content %}
	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron">
		<h1>Home Sound</h1>
	</div>
{% endblock content %}
